/* slider styles */

.slider {
  height: 100vh; 
  overflow: hidden;
 
}

.slides {
  width: 300%; 
  height: 100%;
  display: flex;
  transition: margin-left 3s ease;
}

.slides input {
  display: none;
}

.slide {
  transition: 2s;
  flex: 1; /* Utiliza todo el espacio disponible en la fila */
}

.slide img {
  width: 100%; /* Utiliza el 100% del ancho disponible */
  height: 500px; /* Utiliza el 100% de la altura disponible */
  object-fit: cover;
}

/* auto navegation styles */

.navegation-auto {
  position: absolute;
  display: flex;
  width: 100%; /* Cambiado a 100% para adaptarse al cambio de altura */
  justify-content: center;
  bottom: 20px; /* Mover el botón de auto navegación hacia arriba */
}

.navegation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navegation-auto div:not(:last-child) {
  margin-right: 30px;
}

#radio1:checked ~ .navegation-auto .auto-btn1,
#radio2:checked ~ .navegation-auto .auto-btn2,
#radio3:checked ~ .navegation-auto .auto-btn3 {
  background: white;
}
