/* Estilo para el fondo oscuro del modal */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Estilo para el modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para resaltar el modal */
.modal:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.advice {
  font-size: larger;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.yellow_btn {
  color: black;
  width: 15rem;
  background-color: gray;;
  padding: 1rem;
  border-radius: 10px;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  font-size: larger;
}

.btnActive {
  background-color: none;
  background: none;
  border: 0;
  cursor: pointer;
  color: gray;
}
