.navbar {
  margin: 0 auto;
  display: flex;
  width: 100%;
  border: 1px solid rgba(201, 201, 201, 0.582);
  align-items: center;
  background-color: #fff;
  position: fixed;
}

.title {
  width: 60%;
  margin-left: 4rem;
  text-align: start;
}

.ul_div {
  width: 30%;
}

.ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: gray;
  font-weight: 500;
  align-items: center;
}

li:hover {
  transition: 0.5s;
  cursor: pointer;
  color: rgb(72, 72, 72);
}
